    <div id="forms">
        </form>
    </div>
    <div id="content">
        <form name="1" id="1" action='backend/addCouleur.php?type=del&return=couleur' method='POST'>
       <input form="1" type="text" name="nom"  value="dgdg">
       <input form="1" type="hidden" name="id"  value="18">
       <input form="1" type="submit" value="delete">
        </form>
    </div>
    <div id="add">
        <form id="2" action='backend/addCouleur.php?type=add&return=couleur' method='POST'>
            <input type="text" name="nom"  value="zz">
            <input type="submit" value="Save">            
        </form>
    </div>