@import 'variable.scss';

@media 
only screen and (max-width: 1024px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	// Force table to not be like tables anymore 
	table, tbody, th { 
		display: block; 
	}

	thead {
		display: block; 
		// Hide table headers (but not display: none;, for accessibility) 
		tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
	}


	tr { 
		display: block; 
		border: 1px solid $color_GrisClair;
	}
	
	td { 
		display: block; 
		// Behave  like a "row" 
		border: none;
		border-bottom: 1px solid $color_blanc;
		position: relative;
		padding-left: 50%; 

		&:before { 
			// Now like a table header 
			position: absolute;
			// Top/left values mimic padding 
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
	}
	
    //Label the data
	
	#InventaireCave {
		td {
			:nth-of-type(1):before { content: "Cépage"; }
			:nth-of-type(2):before { content: "Couleur"; }
			:nth-of-type(3):before { content: "Volume"; }
			:nth-of-type(4):before { content: "Producteur"; }
			:nth-of-type(5):before { content: "Année de production"; }
			:nth-of-type(6):before { content: "Année de consomation"; }
			:nth-of-type(7):before { content: "Quantité de bouteille"; }
		}
	}
	//Make dropdown links appear inline
  ul {
    position: static;
    display: none;
		li, li a {
    	width: 100%;
  	}
  }
  //Create vertical spacing
  li {
    margin-bottom: 1px;
		a {
    	width: 100%;
  	}
  }
  //Display 'show menu' link
  .show-menu {
    display:block;
  }

}