@import 'variable.scss';

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
  font-family: Montserrat-Regular;
	src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: $color_blanc;

	@include flexbox;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
  
}

.wrap-table100 {
  width: 1300px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  width: 100%;
  background-color: #fff;  
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  width: auto;/*130px;*/
  //padding-left: 25px;

	.column1 {
  	width: auto;/*265px;*/
  	/*padding-left: 42px;*/
	}
	.column25 .column6 .column7 {
  	width: 25px;
  	padding-left: 42px;
	}
	.column8 {
  	width: 25px;
  	/*padding-left: 42px;*/
	}
	.column99 {
  	width: 25px;
  	/*padding-left: 42px;*/
	}

}

.row100 {
	&.head th {
  	padding-top: 24px;
  	padding-bottom: 20px;
	}
	td {
  	padding-top: 18px;
  	padding-bottom: 14px;
	}
}

.table100.ver5 {
	tbody {
		tr:nth-child(even) {
  		background-color: $color_blanc;
		}
	}
	td {
		@include fontRegular;				
		position: relative;
	}
	th {
		@include fontMedium;
		
		background-color: $color_GrisFonce;
	}
	.row100 {
		:hover {
			td {
				color: $color_red;
			}
		}
		td {
			&:hover {
				color: $color_red;

				&:before {
					content: "";
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					pointer-events: none;
					border: 1px solid $color_red;
				}
			}
		}
	}
	.hov-column-ver5 {
		color: $color_red;

		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			pointer-events: none;
			border-left: 1px solid $color_blanc;
			border-right: 1px solid $color_blanc;
		}
	}
	.hov-column-head-ver5 {
		background-color: $color_GrisFonce !important;
		color: $color_red;
	}
}

/*//////////////////////////////////////////////////////////////////
[ Menu ]*/

//Strip the ul of padding and list styling
ul {
  list-style-type:none;
  margin:0;
  padding:0;
  position: fixed;

	//Display the dropdown on hover
	li {
		a:hover + .hidden, .hidden:hover {
  		display: block;
		}
	}
}

//Create a horizontal list with spacing
li {
  display:inline-block;
  margin-right: 1px;
  z-index: 100;

	//Style for menu links
	a {
		display:block;
		min-width:180px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		
		@include fontMedium;		
		background: $color_GrisFonce;
	}//li:hover a

	ul {
		//Hide dropdown links until they are needed
		display: none;

		//Make dropdown links vertical
		li {
			display: block;
  		float: none;

			//Prevent text wrapping
			a {
				width: auto;
				min-width: 100px;
				padding: 0 20px;
			}
		}
  	
	}

  //Hover state for top level links
	&:hover {
		a {
			background: $color_blue;

			//Style for dropdown links
			&:hover {
				background: $color_blanc;
				color: $color_GrisFonce;
				height: 20px;
				line-height: 20px;
			}//li:hover a:hover
		}//li:hover a

		//Style for dropdown links
		ul {
			background: $color_blanc;
			color: $color_GrisFonce;
			height: 20px;
			line-height: 20px;
		}//il:hover ul

	}
}

//Style 'show menu' label button and hide it by default
.show-menu {
  @include fontMedium;
  background: $color_blue;
  text-align: center;
  padding: 10px 0;
  display: none;
    
}

input {
	//Hide checkbox
	&[type=checkbox] {
  	display: none;
  	-webkit-appearance: none;
  	overflow: auto;

		//Show menu when invisible checkbox is checked	
		&:checked ~ #menu{
   		display: block;
		}
	}
	
	&[type=number]{
		width: 50px;
	}

	&[type=text]{
		width: auto;
		min-width: 100px;
	}
	&[type=submit]{
		//width: auto;
		min-width: 20px;
	}
	&[type=button]{
		//width: auto;
		min-width: 20px;
	}
}