
$color_blanc: #fff; 
$color_Noir:#000000;
$color_GrisFonce:#2f3036;
$color_GrisClair: lighten($color_GrisFonce, 50%);
$color_red: #fe3e64;
$color_blue:#19c589;

@mixin flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin fontRegular {
    font-family: Montserrat-Regular;
    line-height: 1.4;
    font-size: 14px;
    color: $color_Noir;
    text-decoration: none; 
}

@mixin fontMedium {
    font-family: Montserrat-Medium;
    line-height: 1.4;
    font-size: 12px;
    color: $color_blanc;
    text-decoration: none;   
    text-transform: uppercase;
}